<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silence.study.core.mapper.sys.SysMenuMapper">
    <!-- Base Result Map-->
    <resultMap id="BaseResultMap" type="com.silence.study.core.entity.sys.SysMenuEntity">
        <result column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="elid" property="elid"/>
        <result column="icon_class" property="iconClass"/>
        <result column="tab_id" property="tabId"/>
        <result column="tab_title" property="tabTitle"/>
        <result column="tab_icon" property="tabIcon"/>
        <result column="iframe_url" property="iframeUrl"/>
        <result column="seq" property="seq"/>
        <result column="modle" property="modle"/>
        <result column="disabled" property="disabled"/>
        <result column="run_mod" property="runMod"/>
        <result column="pmid" property="pmid"/>
    </resultMap>

    <!-- Extend Result Map-->
    <resultMap id="extendResultMap" extends="BaseResultMap" type="com.silence.study.core.entity.sys.SysMenuEntity">

    </resultMap>

    <!-- sys_menu table all fields -->
    <sql id="Base_Column_List" >
        a.menu_id,a.menu_name,a.elid,a.icon_class,a.tab_id,a.tab_title,a.tab_icon,a.iframe_url,a.seq,a.modle,a.disabled,a.run_mod,a.pmid
    </sql>

    <sql id="Extend_Column_List" >
        a.*
    </sql>

    <!-- 基本查询条件 -->
    <sql id="Example_Where_Clause">
        <where>
            <trim  suffixOverrides="," >
                <if test="menuId != null" > and menu_id =  #{menuId}</if>
                <if test="menuName != null" > and menu_name =  #{menuName}</if>
                <if test="elid != null" > and elid =  #{elid}</if>
                <if test="iconClass != null" > and icon_class =  #{iconClass}</if>
                <if test="tabId != null" > and tab_id =  #{tabId}</if>
                <if test="tabTitle != null" > and tab_title =  #{tabTitle}</if>
                <if test="tabIcon != null" > and tab_icon =  #{tabIcon}</if>
                <if test="iframeUrl != null" > and iframe_url =  #{iframeUrl}</if>
                <if test="seq != null" > and seq =  #{seq}</if>
                <if test="modle != null" > and modle =  #{modle}</if>
                <if test="disabled != null" > and disabled =  #{disabled}</if>
                <if test="runMod != null" > and run_mod =  #{runMod}</if>
                <if test="pmid != null" > and pmid =  #{pmid}</if>
            </trim>
        </where>
    </sql>

    <!-- 插入记录 -->
    <insert id="save" parameterType="com.silence.study.core.entity.sys.SysMenuEntity" useGeneratedKeys="true" keyProperty="menuId" >
        insert into sys_menu(menu_id,menu_name,elid,icon_class,tab_id,tab_title,tab_icon,iframe_url,seq,modle,disabled,run_mod,pmid)
        values(#{menuId},#{menuName},#{elid},#{iconClass},#{tabId},#{tabTitle},#{tabIcon},#{iframeUrl},#{seq},#{modle},#{disabled},#{runMod},#{pmid})
    </insert>

    <!-- 批量插入记录 -->
    <insert id="saveBatch" parameterType="java.util.List">
        insert into sys_menu(
        menu_id,menu_name,elid,icon_class,tab_id,tab_title,tab_icon,iframe_url,seq,modle,disabled,run_mod,pmid
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.menuId},#{item.menuName},#{item.elid},#{item.iconClass},#{item.tabId},#{item.tabTitle},#{item.tabIcon},#{item.iframeUrl},#{item.seq},#{item.modle},#{item.disabled},#{item.runMod},#{item.pmid})
        </foreach>
    </insert>

    <!-- 根据id，修改记录-->
    <update id="update" parameterType="com.silence.study.core.entity.sys.SysMenuEntity" >
        update sys_menu
        set menu_name=#{menuName},elid=#{elid},icon_class=#{iconClass},tab_id=#{tabId},tab_title=#{tabTitle},tab_icon=#{tabIcon},iframe_url=#{iframeUrl},seq=#{seq},modle=#{modle},disabled=#{disabled},run_mod=#{runMod},pmid=#{pmid}
        where menu_id=#{menuId}
    </update>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateSelective" parameterType="com.silence.study.core.entity.sys.SysMenuEntity" >
        update sys_menu set
        <trim  suffixOverrides="," >
            <if test="menuName != null "> menu_name=#{menuName},</if>
            <if test="elid != null "> elid=#{elid},</if>
            <if test="iconClass != null "> icon_class=#{iconClass},</if>
            <if test="tabId != null "> tab_id=#{tabId},</if>
            <if test="tabTitle != null "> tab_title=#{tabTitle},</if>
            <if test="tabIcon != null "> tab_icon=#{tabIcon},</if>
            <if test="iframeUrl != null "> iframe_url=#{iframeUrl},</if>
            <if test="seq != null "> seq=#{seq},</if>
            <if test="modle != null "> modle=#{modle},</if>
            <if test="disabled != null "> disabled=#{disabled},</if>
            <if test="runMod != null "> run_mod=#{runMod},</if>
            <if test="pmid != null "> pmid=#{pmid},</if>
        </trim>
        where menu_id=#{menuId}
    </update>

    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from sys_menu
        where menu_id = #{menuId}
    </delete>

    <!-- 按id批量删除记录 -->
    <delete id="deleteBatchIds">
        delete from sys_menu
        <where>
            menu_id in
            <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>

    <!-- 按条件批量删除记录 -->
    <delete id="deleteBatch" parameterType="com.silence.study.core.entity.sys.SysMenuEntity">
        delete from sys_menu
        <include refid="Example_Where_Clause"/>
    </delete>

    <!-- 根据id查询 系统菜单 -->
    <select id="queryId" resultMap="BaseResultMap" parameterType="Object">
        select
        <include refid="Base_Column_List"/>
        from sys_menu a
        WHERE a.menu_id = #{menuId}
    </select>

    <!-- 系统菜单 符合条件总数-->
    <select id="queryCount" resultType="java.lang.Integer" parameterType="com.origin.eurybia.jdbc.query.Query">
        select count(1) from sys_menu a
    </select>

    <!-- 查询系统菜单列表 -->
    <select id="queryList" resultMap="extendResultMap" parameterType="com.origin.eurybia.jdbc.query.Query">
        select
        <include refid="Base_Column_List"/>
        from sys_menu a
    </select>

    <!-- 系统菜单分页查询 -->
    <select id="queryPage" resultMap="extendResultMap" parameterType="com.origin.eurybia.jdbc.plugin.Pager">
        select
        <include refid="Base_Column_List"/>
        from sys_menu a
    </select>

    <!-- 获取指定角色列表对应的菜单聚合,已去重 -->
    <select id="getMenusByRole" parameterType="list" resultMap="BaseResultMap">

        SELECT b.* FROM sys_role_menu_mod a
        LEFT JOIN sys_menu b ON a.menu_id = b.menu_id
        WHERE b.disabled = 0 and a.role_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        <![CDATA[ AND (a.run_mod & 1)>0 ]]>
        ORDER BY b.pmid asc,b.seq desc

    </select>
</mapper>   
