<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silence.study.core.mapper.sys.SysUserRoleMapper" >
	<!-- Base Result Map-->
	<resultMap id="BaseResultMap" type="com.silence.study.core.entity.sys.SysUserRoleEntity" >
		<result column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
	</resultMap>

	<!-- Extend Result Map-->
	<resultMap id="extendResultMap" extends="BaseResultMap" type="com.silence.study.core.entity.sys.SysUserRoleEntity">
		<association property="sysRole" column="role_id" resultMap="com.silence.study.core.mapper.sys.SysRoleMapper.BaseResultMap">
		</association>
		<association property="sysUser" column="user_id" resultMap="com.silence.study.core.mapper.sys.SysUserMapper.BaseResultMap">
		</association>
	</resultMap>
       
	<!-- sys_user_role table all fields -->
	<sql id="Base_Column_List" >
		a.user_id,a.role_id
	</sql>

	<sql id="Extend_Column_List" >
		a.*,b.*,c.*
	</sql>
   
	<!-- 基本查询条件 -->
	<sql id="Example_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
				<if test="userId != null" > and user_id =  #{userId}</if>
				<if test="roleId != null" > and role_id =  #{roleId}</if>
			</trim>
		</where>
	</sql>
   
	<!-- 插入记录 -->
	<insert id="save" parameterType="com.silence.study.core.entity.sys.SysUserRoleEntity" >
		insert into sys_user_role(user_id,role_id)
		values(#{userId},#{roleId})
	</insert>
	
	<!-- 批量插入记录 -->
	<insert id="saveBatch" parameterType="java.util.List">
    	insert into sys_user_role(
			user_id,role_id
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userId},#{item.roleId})
		</foreach>  
  	</insert>

	<!-- 根据id，修改记录-->  
	<update id="update" parameterType="com.silence.study.core.entity.sys.SysUserRoleEntity" >
		update sys_user_role 
		set role_id=#{roleId} 
		where user_id=#{userId}
	</update>
 
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.silence.study.core.entity.sys.SysUserRoleEntity" >
		update sys_user_role set 
		<trim  suffixOverrides="," >
			<if test="roleId != null "> role_id=#{roleId},</if>
		</trim>
		where user_id=#{userId}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from sys_user_role
		where user_id = #{userId}
	</delete>
	
	<!-- 按id批量删除记录 -->
	<delete id="deleteBatchIds">
		delete from sys_user_role
		<where>
			user_id in
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>
	
	<!-- 按条件批量删除记录 -->
	<delete id="deleteBatch" parameterType = "com.silence.study.core.entity.sys.SysUserRoleEntity">
		delete from sys_user_role
		<include refid="Example_Where_Clause"/> 
	</delete>

	<!-- 按条件批量删除记录 -->
	<delete id="deleteQuery" parameterType = "com.origin.eurybia.jdbc.query.Query">
		delete from sys_user_role
	</delete>
 
	<!-- 根据id查询 ${codeName} -->
	<select id="queryId"  resultMap="BaseResultMap" parameterType="Object">
		select 
			 <include refid="Base_Column_List" /> 
		from sys_user_role a
			left join sys_role b on(a.role_id = b.role_id)
			left join sys_user c on(a.user_id = c.user_id)
		WHERE a.user_id = #{userId}
	</select>

	<!-- ${codeName} 符合条件总数-->
	<select id="queryCount" resultType="java.lang.Integer"  parameterType = "com.origin.eurybia.jdbc.query.Query">
		select count(1) from sys_user_role a
			left join sys_role b on(a.role_id = b.role_id)
			left join sys_user c on(a.user_id = c.user_id)
	</select>
  	
	<!-- 查询${codeName}列表 -->
	<select id="queryList" resultMap="extendResultMap"  parameterType = "com.origin.eurybia.jdbc.query.Query">
		select 
			 <include refid="Base_Column_List" /> 
		from sys_user_role a
			left join sys_role b on(a.role_id = b.role_id)
			left join sys_user c on(a.user_id = c.user_id)
	</select>
	
	<!-- ${codeName}分页查询 -->
	<select id="queryPage" resultMap="extendResultMap"  parameterType="com.origin.eurybia.jdbc.plugin.Pager">
		select 
			 <include refid="Extend_Column_List" /> 
		from sys_user_role a
			left join sys_role b on(a.role_id = b.role_id)
			left join sys_user c on(a.user_id = c.user_id)
	</select>

</mapper>   
