<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silence.study.core.mapper.sys.SysUserMapper" >
	<!-- Base Result Map-->
	<resultMap id="BaseResultMap" type="com.silence.study.core.entity.sys.SysUserEntity" >
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="dept_id" property="deptId"/>
		<result column="login_name" property="loginName"/>
		<result column="login_pwd" property="loginPwd"/>
		<result column="salt" property="salt"/>
		<result column="email" property="email"/>
		<result column="login_time" property="loginTime"/>
		<result column="login_ip" property="loginIp"/>
		<result column="login_count" property="loginCount"/>
		<result column="disabled" property="disabled"/>
		<result column="remark" property="remark"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="super_user" property="superUser"/>
	</resultMap>

	<!-- Extend Result Map-->
	<resultMap id="extendResultMap" extends="BaseResultMap" type="com.silence.study.core.entity.sys.SysUserEntity">
		<association property="sysDept" column="dept_id" resultMap="com.silence.study.core.mapper.sys.SysDeptMapper.BaseResultMap">
		</association>
		<collection property="userRoleList" column="{userId = user_id}" select="selectRoles" />
	</resultMap>

	<select id="selectRoles" parameterType="map" resultType="int">
		SELECT role_id FROM sys_user_role WHERE user_id = #{userId}
	</select>
       
	<!-- sys_user table all fields -->
	<sql id="Base_Column_List" >
		a.user_id,a.user_name,a.dept_id,a.login_name,a.login_pwd,a.salt,a.email,a.login_time,a.login_ip,a.login_count,a.disabled,a.remark,a.create_date,a.modify_date,a.super_user
	</sql>

	<sql id="Extend_Column_List" >
		a.*,b.*
	</sql>
   
	<!-- 基本查询条件 -->
	<sql id="Example_Where_Clause">
		<where>
			<trim  suffixOverrides="," >
				<if test="userId != null" > and user_id =  #{userId}</if>
				<if test="userName != null" > and user_name =  #{userName}</if>
				<if test="deptId != null" > and dept_id =  #{deptId}</if>
				<if test="loginName != null" > and login_name =  #{loginName}</if>
				<if test="loginPwd != null" > and login_pwd =  #{loginPwd}</if>
				<if test="salt != null" > and salt =  #{salt}</if>
				<if test="email != null" > and email =  #{email}</if>
				<if test="loginTime != null" > and login_time =  #{loginTime}</if>
				<if test="loginIp != null" > and login_ip =  #{loginIp}</if>
				<if test="loginCount != null" > and login_count =  #{loginCount}</if>
				<if test="disabled != null" > and disabled =  #{disabled}</if>
				<if test="remark != null" > and remark =  #{remark}</if>
				<if test="createDate != null" > and create_date =  #{createDate}</if>
				<if test="modifyDate != null" > and modify_date =  #{modifyDate}</if>
				<if test="superUser != null" > and super_user =  #{superUser}</if>
			</trim>
		</where>
	</sql>
   
	<!-- 插入记录 -->
	<insert id="save" parameterType="com.silence.study.core.entity.sys.SysUserEntity" useGeneratedKeys="true" keyProperty="userId" >
		insert into sys_user(user_id,user_name,dept_id,login_name,login_pwd,salt,email,login_time,login_ip,login_count,disabled,remark,create_date,modify_date,super_user)
		values(#{userId},#{userName},#{deptId},#{loginName},#{loginPwd},#{salt},#{email},#{loginTime},#{loginIp},#{loginCount},#{disabled},#{remark},#{createDate},#{modifyDate},#{superUser})
	</insert>
	
	<!-- 批量插入记录 -->
	<insert id="saveBatch" parameterType="java.util.List">
    	insert into sys_user(
			user_id,user_name,dept_id,login_name,login_pwd,salt,email,login_time,login_ip,login_count,disabled,remark,create_date,modify_date,super_user
		) values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.userId},#{item.userName},#{item.deptId},#{item.loginName},#{item.loginPwd},#{item.salt},#{item.email},#{item.loginTime},#{item.loginIp},#{item.loginCount},#{item.disabled},#{item.remark},#{item.createDate},#{item.modifyDate},#{item.superUser})
		</foreach>  
  	</insert>

	<!-- 根据id，修改记录-->  
	<update id="update" parameterType="com.silence.study.core.entity.sys.SysUserEntity" >
		update sys_user 
		set user_name=#{userName},dept_id=#{deptId},login_name=#{loginName},login_pwd=#{loginPwd},salt=#{salt},email=#{email},login_time=#{loginTime},login_ip=#{loginIp},login_count=#{loginCount},disabled=#{disabled},remark=#{remark},create_date=#{createDate},modify_date=#{modifyDate},super_user=#{superUser} 
		where user_id=#{userId}
	</update>
 
	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateSelective" parameterType="com.silence.study.core.entity.sys.SysUserEntity" >
		update sys_user set 
		<trim  suffixOverrides="," >
			<if test="userName != null "> user_name=#{userName},</if>
			<if test="deptId != null "> dept_id=#{deptId},</if>
			<if test="loginName != null "> login_name=#{loginName},</if>
			<if test="loginPwd != null "> login_pwd=#{loginPwd},</if>
			<if test="salt != null "> salt=#{salt},</if>
			<if test="email != null "> email=#{email},</if>
			<if test="loginTime != null "> login_time=#{loginTime},</if>
			<if test="loginIp != null "> login_ip=#{loginIp},</if>
			<if test="loginCount != null "> login_count=#{loginCount},</if>
			<if test="disabled != null "> disabled=#{disabled},</if>
			<if test="remark != null "> remark=#{remark},</if>
			<if test="createDate != null "> create_date=#{createDate},</if>
			<if test="modifyDate != null "> modify_date=#{modifyDate},</if>
			<if test="superUser != null "> super_user=#{superUser},</if>
		</trim>
		where user_id=#{userId}
	</update>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from sys_user
		where user_id = #{userId}
	</delete>
	
	<!-- 按id批量删除记录 -->
	<delete id="deleteBatchIds">
		delete from sys_user
		<where>
			user_id in
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</delete>
	
	<!-- 按条件批量删除记录 -->
	<delete id="deleteBatch" parameterType = "com.silence.study.core.entity.sys.SysUserEntity">
		delete from sys_user
		<include refid="Example_Where_Clause"/> 
	</delete>

	<!-- 按条件批量删除记录 -->
	<delete id="deleteQuery" parameterType = "com.origin.eurybia.jdbc.query.Query">
		delete from sys_user
	</delete>
 
	<!-- 根据id查询 ${codeName} -->
	<select id="queryId"  resultMap="BaseResultMap" parameterType="Object">
		select 
			 <include refid="Base_Column_List" /> 
		from sys_user a
			left join sys_dept b on(a.dept_id = b.dept_id)
		WHERE a.user_id = #{userId}
	</select>

	<!-- ${codeName} 符合条件总数-->
	<select id="queryCount" resultType="java.lang.Integer"  parameterType = "com.origin.eurybia.jdbc.query.Query">
		select count(1) from sys_user a
			left join sys_dept b on(a.dept_id = b.dept_id)
	</select>
  	
	<!-- 查询${codeName}列表 -->
	<select id="queryList" resultMap="extendResultMap"  parameterType = "com.origin.eurybia.jdbc.query.Query">
		select 
			 <include refid="Base_Column_List" /> 
		from sys_user a
			left join sys_dept b on(a.dept_id = b.dept_id)
	</select>
	
	<!-- ${codeName}分页查询 -->
	<select id="queryPage" resultMap="extendResultMap"  parameterType="com.origin.eurybia.jdbc.plugin.Pager">
		select 
			 <include refid="Extend_Column_List" /> 
		from sys_user a
			left join sys_dept b on(a.dept_id = b.dept_id)
	</select>

</mapper>   
